@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 32% 94%;
    --foreground: 210 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 20% 15%;
    --primary: 210 61% 47%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 210 61% 47%;
    --muted: 210 20% 85%;
    --muted-foreground: 210 10% 40%;
    --accent: 180 60% 50%;
    --accent-foreground: 180 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 85%;
    --ring: 210 61% 47%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body {
    @apply bg-background text-foreground font-body;
    min-width: 450px;
    min-height: 600px;
    overflow-x: hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}